<ul class="timeline">
{% for repo in repos %}
<li>
  <div class="{{forloop.counter|direction-class}}">
    <div class="flag-wrapper">
      <span class="flag"><a target="_blank" href="{{repo.html--url}}">{{repo.name}}</a></span>
      <span class="time-wrapper"><span class="time">{{repo.created--at|format-date}}</span></span>
    </div>
    <div class="desc">{{repo.description}}</div>
  </div>
</li>
{% endfor %}
</ul>
<button class="button" type="button" hx-get="/more?user={{user}}&page={{page}}" hx-swap="outerHTML" hx-indicator="#indicator2" _="on click toggle [@disabled=true] until htmx:afterOnLoad">Fetch More</button>
<div id="indicator2" class="htmx-indicator">
<h3>Loading repos, please wait...</h3>
</div>
